:root {
  --clr-green-500: hsl(158, 36%, 37%);
  --clr-green-700: hsl(158, 42%, 18%);
  --clr-black: hsl(212, 21%, 14%);
  --clr-grey: hsl(228, 12%, 48%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-cream);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.content {
  display: flex;
  max-width: 700px;
  margin: 2rem auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--clr-white);
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  width: 50%;
  padding: 2rem;
  gap: 1rem;
}

.tagline {
  letter-spacing: 0.5rem;
  font-size: 1rem;
}

.title {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 1;
}

.description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--clr-grey);
}

.current-price {
  color: var(--clr-green-500);
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.old-price {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--clr-grey);
  text-decoration: line-through;
  font-size: 0.8rem;
}

.price .current-price {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.btn {
  background-color: var(--clr-green-500);
  color: var(--clr-white);
  padding: 0.8rem;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border: none;
}
